body{
    font-family: sans-serif;
    background: lightgoldenrodyellow;
    height: 100%;
    margin: 100px; 
}
header{
    background-image: url('../images/logo.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    text-align:center;
    color: white;
    padding: 200px 0;
    image-resolution: 300dpi snap;

}

header h1{
    font-weight: 700;
    font-size: 96px;
    line-height: 1.5;
}

header a{
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    position: relative;
    bottom: -150px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 32px;
    margin-top: 32px;
    color: white;
    background: black;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}

.text-centre{
    text-align: center;
    font-weight: bolder; 
    text-transform: uppercase;
    letter-spacing: 3px;
    
}

.grid{
    display: grid;
    grid-gap: 64px;
}

img{
    margin: 0%;

}

.img-responsive{
    max-width: 100%;
    display:inline-block;
    border-radius: 5px;
}

.collab-pics{
    display: block;
    border-radius: 5px;
    margin: 0 auto;
    border: 0;
    
}

.grid-2-columns{
    grid-template-columns: 1fr 1fr;
}

section{
    max-width: 100%;
    margin: 0 auto;
    padding: 100px 0;
    border-color: black;
}

section h2{
    text-align: center;
}
section h3{
    color: white;
    text-align: center;
    letter-spacing: 2px;
}
section h4{
    text-transform: uppercase;
    text-align: center;
}
main{
    background-color: black;
}

main p{
    color: white;
}
main h2{
    color: white;
}


.grid-3-columns {
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 10px;
}

.grid-3-columns-with-first-narrow {
    grid-template-columns: 1fr 2fr 2fr;
}


.card {
    background: white;
    margin: 30px 0;
}

.card-body {
    padding: 30px;
}

.card-footer {
    padding: 0 30px 30px;
}

.btn {
    display: block;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 18px;
    background-color: black;
    text-decoration: none;
}



section.secondary {
    background: #FAF9F6;
}

section.gallery {
    letter-spacing: 3px;
    color: white;
    background:black;
    max-height: fit-content;
    
}

.instagram-embeds {
    margin: 30px 0;
}

footer{
    color:black;
    background-color:white;


}

section.footer{
    padding: 5%;
}
footer h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 3px;
    text-align: center;
    font-weight: bolder;
    color: black;
}

footer p{
    font-weight: 400;
    font-size: 20px;
    margin-right: 20px;
    line-height: 24px;
    text-align: justify;
    text-justify: inter-word;
    padding: 20px;
    text-align: center;
    
}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: bolder;
    
    
}

footer a{
    color: black;
    text-decoration: none;
    text-align: center;
}

